<div class="QuestionShow all-100">
  <div class="ink-grid">
    <div class="push-center">
      <div class="column-group all-100 push-center padding">


        <div class="Show column-group all-100 left-padding right-padding half-bottom-padding bottom-space push-center">
          <div class="Title column-group all-100 half-bottom-space" >

            <div class="column-group all-70">
              <div class="all-40 push-middle half-top-padding"><h3><%=@question.title%></h3></div>
              <div class="column-group all-60 half-top-padding push-middle">
                  <div class="all-40 "><p><%= @question.user.name%></p></div>
                  <div class="all-60 align-right half-right-padding"><p><%=@question.created_at.strftime("%I:%M%p %m/%d/%Y")%></p></div>
              </div>
            </div>

            <div class="column-group all-30 push-right">
                <% if current_user.id == @question.user_id%>
                    <div class="all-15 align-center half-left-padding half-right-padding push-middle">
                      <%= link_to 'Edit Question', edit_question_path(@question), class: "ink-button all-100 blue" %>
                    </div>
                    <div class="all-15 align-center push-middle">
                      <%= link_to 'Delete Question',
                                  question_path(@question),
                                  method: :delete,
                                  class: "ink-button all-100 blue",
                                  data: {confirm: 'Are you sure'} %>
                    </div>
                <%else%>
                    <div class="column all-50 align-right half-left-padding push-middle">
                      <%= link_to 'Answer Question', questions_path, class: "ink-button all-100 blue" %>
                    </div>
                <%end%>
            </div>
          </div>

          <div class="Desc all-90 push-center align-left half-top-padding bottom-padding" >
            <div class="all-100 half-top-padding half-left-padding half-right-padding"><p><%=@question.text%></p></div>
          </div>

          <div class="Title column-group all-100 half-top-padding half-bottom-space" >
            <div class="column-group all-100">
              <div class="all-50"><h3>Answers</h3></div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>