<div class="QuestionNew all-100">
  <div class="ink-grid">
    <div class="push-center">
      <div class="column-group all-100 push-center padding">


        <div class="New column-group all-100 left-padding right-padding half-top-padding half-bottom-padding bottom-space push-center">
          <div class="Title all-90 half-top-padding half-bottom-space" >
            <h3>Add a Tutorial</h3>
          </div>
          <%= form_for(:tutorial, url: tutorials_create_path, :html => {:class => "ink-form all-100", :multipart => true}) do |f| %>
              <div class="all-80 push-center half-top-space">

                <div class="control-group column-group gutters">
                  <%= f.label( :title, "Tutorial Title", :class => "all-20 align-right") %>
                  <div class="control all-80">
                    <%= f.text_field( :title, :placeholder => "Tutorial Title", :class => 'form-control') %>
                  </div>
                </div>

                <div class="control-group column-group gutters">
                  <%= f.label( :text, "Tutorial", :class => "all-20 align-right") %>
                  <div class="control all-80">
                    <%= f.text_area( :text, :placeholder => "Write your tutorial", :class => 'form-control') %>
                  </div>
                </div>


              </div>
              <div class="all-80 push-center half-bottom-padding">
                <%= submit_tag( "Post Tutorial", class: "ink-button all-100 blue")%>
              </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>