<!DOCTYPE html>
<html>
<head>
  <title>Engineering Projects <%# full_title(yield(:title)) %> </title>
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="ink-drawer" >
<div class="bg"></div>
<header>
  <%= render 'layouts/navigation' %>
</header>
<br><br>
<div id="content" class="content-drawer half-top-space half-top-padding">
  <section class="ink">
    <% if flash[:failure] %>
        <div class="column-group all-90 push-center push-middle">
          <div class="ink-alert basic error all-100">
            <button class="ink-dismiss">&times;</button>
            <p><%= flash[:failure] %></p>
          </div>
        </div>
    <% end %>
    <% if flash[:danger] %>
        <div class="column-group all-90 push-center push-middle">
          <div class="ink-alert basic success all-100">
            <button class="ink-dismiss">&times;</button>
            <p><%= flash[:danger] %></p>
          </div>
        </div>
    <% end %>

    <%= yield %>
  </section>
</div>

<footer>
  <%= render 'layouts/footer' %>
</footer>
<%= debug(params) if Rails.env.development? %>
<script>
    Ink.requireModules(['Ink.UI.Drawer_1'], function(Drawer) {
        var inkDrawer = new Drawer({ sides: 'left', mode: 'push' });
    });
</script>
</body>
</html>
